body{background-color: aquamarine;}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 10px;
    align-items: center;
}
ul{list-style: none;
display: flex;
gap: 20px;
align-items: center;
font-weight: 450;}
